.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

html, body {
    height: 100%;
    background-color: black;
}

.black-filter {
    filter: brightness(0) saturate(100%);
}

.full-height {
    min-height: calc(100vh - var(--navbar-height, 0px));
    overflow-y: hidden;
}

.infront {
    position: relative;
    z-index: 1;
}

@media (min-width: 1400px) {
    .me-md-big {
        margin-right: 15rem; /* Adjust the value as needed */
    }
}

@media (min-width: 1400px) {
    .contact-text {
        font-size:3vw; /* Adjust the value as needed */
    }
}

@media (max-width: 1400px) {
    .contact-text {
        font-size:4.25vw; /* Adjust the value as needed */
    }
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensures the canvas stays behind your content */
  }