{% extends "base_generic.html" %}

{% block title %}<title>SevanB Contact</title>{% endblock %}
{% block img %}
    {% load static %}
    <div
    class="bg-image text-light"
    style="
    background-image: url('{% static 'space5.jpg' %}');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat-y;
    "
    >
    <div>
{% endblock %}
{% block homenavtxt %}Home{% endblock %}
{% block projectsnavtxt %}Projects{% endblock %}
{% block resumenavtxt %}Resume{% endblock %}
{% block contactnavtxt %}<strong>Contact</strong>{% endblock %}

{% block content %}
    <h1 class="display-1 text-center my-4"><strong>Contact</strong></h1>

    <div class="container-fluid mx-auto rounded py-3" style="background-color: rgba(0, 0, 0, 0.3);">
        <div class="row my-3">
            <div class="col-6"><h6 class="display-6 text-end" style="font-size:3vw;">Primary Email: </h6></div>
            <div class="col-6"><h6 class="display-6 text-wrap" style="font-size:3vw;">
                <a class="link-info" href="mailto:sevanbro7@gmail.com"><strong>sevanbro7@gmail.com</strong></a>
            </h6></div>
        </div>
        <div class="row my-3">
            <div class="col-6"><h6 class="display-6 text-end" style="font-size:3vw;">Secondary Email: </h6></div>
            <div class="col-6"><h6 class="display-6" style="font-size:3vw;">
                <a class="link-info" href="mailto:sevanpb2@illinois.edu"><strong>sevanpb2@illinois.edu</strong></a>
            </h6></div>
        </div>
        <div class="row my-3">
            <div class="col-6"><h6 class="display-6 text-end" style="font-size:3vw;">Phone: </h6></div>
            <div class="col-6"><h6 class="display-6" style="font-size:3vw;">
                <a class="link-info" href="Tel: 847-565-9123"><strong>(847) 565-9123</strong></a>
            </h6></div>
        </div>
        <div class="row my-3">
            <div class="col-6"><h6 class="display-6 text-end" style="font-size:3vw;">LinkedIn: </h6></div>
            <div class="col-6"><h6 class="display-6" style="font-size:3vw;">
                <a class="link-info" href="https://www.linkedin.com/in/sevan-b/"><strong>linkedin.com/in/sevan-b/</strong></a>
            </h6></div>
        </div>
        <div class="row my-3">
            <div class="col-6"><h6 class="display-6 text-end" style="font-size:3vw;">Github: </h6></div>
            <div class="col-6"><h6 class="display-6" style="font-size:3vw;">
                <a class="link-info" href="https://github.com/SevanBrodjian"><strong>github.com/SevanBrodjian</strong></a>
            </h6></div>
        </div>
        <div class="row my-3">
            <div class="col-6"><h6 class="display-6 text-end" style="font-size:3vw;">Location: </h6></div>
            <div class="col-6"><h6 class="display-6" style="font-size:3vw;">Illinois</h6></div>
        </div>
    </div>

    <br>
{% endblock %}