{% extends "base_generic.html" %}

{% block title %}<title>SevanB Contact</title>{% endblock %}
{% block img %}
    {% load static %}
    <div
    class="bg-image text-light"
    style="
    background-image: url('{% static 'cosmicweb2.jpg' %}');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat-y;
    "
    >
    <div>
{% endblock %}
{% block homenavtxt %}Home{% endblock %}
{% block projectsnavtxt %}Projects{% endblock %}
{% block blognavtxt %}Blog{% endblock %}
{% block pubsnavtxt %}Research{% endblock %}
{% block resumenavtxt %}CV{% endblock %}
{% block contactnavtxt %}<strong>Contact</strong>{% endblock %}

{% block content %}
    <div class="container-fluid rounded py-3 full-height d-flex align-items-center" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="row">
            <div class="row my-3">
                <div class="col-5"><h6 class="display-6 text-end contact-text">Primary Email: </h6></div>
                <div class="col-7"><h6 class="display-6 text-wrap contact-text">
                    <a class="link-info" href="mailto:sevanbro7@gmail.com"><strong>sevanbro7@gmail.com</strong></a>
                </h6></div>
            </div>
            <div class="row my-3">
                <div class="col-5"><h6 class="display-6 text-end contact-text">Secondary Email: </h6></div>
                <div class="col-7"><h6 class="display-6 contact-text">
                    <a class="link-info" href="mailto:sevanpb2@illinois.edu"><strong>sevanpb2@illinois.edu</strong></a>
                </h6></div>
            </div>
            <div class="row my-3">
                <div class="col-5"><h6 class="display-6 text-end contact-text">Phone: </h6></div>
                <div class="col-7"><h6 class="display-6 contact-text">
                    <a class="link-info" href="Tel: 847-565-9123"><strong>(847) 565-9123</strong></a>
                </h6></div>
            </div>
            <div class="row my-3">
                <div class="col-5"><h6 class="display-6 text-end contact-text">LinkedIn: </h6></div>
                <div class="col-7"><h6 class="display-6 contact-text">
                    <a class="link-info" href="https://www.linkedin.com/in/sevan-b/"><strong>linkedin.com/in/sevan-b/</strong></a>
                </h6></div>
            </div>
            <div class="row my-3">
                <div class="col-5"><h6 class="display-6 text-end contact-text">Github: </h6></div>
                <div class="col-7"><h6 class="display-6 contact-text">
                    <a class="link-info" href="https://github.com/SevanBrodjian"><strong>github.com/SevanBrodjian</strong></a>
                </h6></div>
            </div>
            <div class="row my-3">
                <div class="col-5"><h6 class="display-6 text-end contact-text">Location: </h6></div>
                <div class="col-7"><h6 class="display-6 contact-text">Chicago, IL</h6></div>
            </div>
        </div>
    </div>
{% endblock %}