{% extends "base_generic.html" %}

{% block title %}<title>SevanB Home</title>{% endblock %}
{% block img %}
    {% load static %}
    <div
        class="bg-image text-light"
        style="
        background-image: url('{% static 'cosmicweb2.jpg' %}');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 100vh;
        "
    >
{% endblock %}
{% block homenavtxt %}<strong>Home</strong>{% endblock %}
{% block projectsnavtxt %}Projects{% endblock %}
{% block blognavtxt %}Blog{% endblock %}
{% block pubsnavtxt %}Research{% endblock %}
{% block resumenavtxt %}CV{% endblock %}
{% block contactnavtxt %}Contact{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row" id="homepage-content">
            <div style="height: 50px;"></div>
            <div class="col-lg-5 col-md-12">
                <div class="d-flex justify-content-center mt-5">
                    <img class="img-fluid rounded" style="height: auto; width: auto; max-height: 70vh;" src="{% static 'rainforest_cropped.JPG' %}" alt="Headshot">
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="text-left px-3 py-3 mt-3 me-md-big">
                    <h1 class="display-1"><strong>Sevan Brodjian</strong></h1>
                    <h3 class="display-4"><strong><em>Data Science & Neurotechnology</em></strong></h3><br>
                    <p class="lead mt-4" style="font-size: 25px; font-weight: 475;">
                        Bringing three years of industry experience at the forefront of machine learning, I am currently preparing to begin pursuing a PhD in Computation and Neural Systems at Caltech this Fall. Some of my work includes the development of end-to-end machine learning pipelines utilizing advanced techniques such as deep learning for regression tasks and vision transformers. This website is currently under construction.
                        <br><br>
                        Explore my portfolio of personal projects and delve into my blog for insights into the applications I'm developing and the philosophical approach that guides my work.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}