{% extends "base_generic.html" %}

{% block title %}<title>SevanB {{ project.title }}</title>{% endblock %}

{% block img %}
    {% load static %}
    <div
        class="bg-image text-light"
        style="
        background-image: url('{% static 'space3.jpg' %}');
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        min-height: 100vh;
        "
    >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
{% endblock %}
{% block homenavtxt %}Home{% endblock %}
{% block projectsnavtxt %}Projects{% endblock %}
{% block resumenavtxt %}Resume{% endblock %}
{% block contactnavtxt %}Contact{% endblock %}

{% block content %}
    <h1 class="text-center my-3 display-1"><strong>{{ project.title }}</strong></h1>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                    {% if 'youtube' in project.img %}
                    <iframe src="{{ project.img }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="width: 100%; aspect-ratio: 16/9;"></iframe>
                    {% else %}
                        <img class="img-fluid rounded mx-sm-auto d-block my-4 border border-dark" src="{{ project.img }}" alt="{{ project.title }}"> 
                    {% endif %}
            </div>
            <div class="col-lg-5">
                <div class="px-4 py-4 rounded lead" style="background-color: rgba(0, 0, 0, 0.7); font-size: 1.5rem;">

                    <!-- {% if project.independent %}
                        <p><strong>*Independent Project*</strong></p>
                    {% endif %} -->

                    {% if project.link %}
                        <a class="link-info" href="{{ project.link }}"><strong>Project Source</strong></a>
                    {% endif %}

                    <br><br>

                    {% if project.ongoing %}
                        <p><em>{{ project.start }} - Present (ongoing)</em></p>
                    {% else %}
                        <p><em>{{ project.start }} - {{ project.end }}</em></p>
                    {% endif %}

                    {% if topics %}
                        <p><strong>Topics</strong></p>
                        <ul>
                            <li>{{ topics }}</li>
                        </ul>
                    {% endif %}

                    {% if project.association.all %}
                        <p><strong>Associations</strong></p>
                        <ul>
                            {% for association in project.association.all %}
                                <li>
                                    {{ association.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p><strong>Associations:</strong> n/a</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-lg-10">
                <div class="p-5 py-4 rounded" style="background-color: rgba(0, 0, 0, 0.7);">
                    <br>
                    <h2 class="text-center display-2">Description</h2>
                    <br>
                    <p class="h5" style="white-space: pre-line; text-align: justify;">{{ project.description }}</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
