{% extends "base_generic.html" %}

{% block title %}<title>SevanB Resume</title>{% endblock %}

{% block img %}
    {% load static %}
    <div
        class="bg-image text-light"
        style="
        background-image: url('{% static 'cosmicweb2.jpg' %}');
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        min-height: 100vh;
        "
    >
{% endblock %}
{% block homenavtxt %}Home{% endblock %}
{% block projectsnavtxt %}Projects{% endblock %}
{% block blognavtxt %}Blog{% endblock %}
{% block pubsnavtxt %}Research{% endblock %}
{% block resumenavtxt %}<strong>CV</strong>{% endblock %}
{% block contactnavtxt %}Contact{% endblock %}

{% block content %}
    <br>
    <div class="container-fluid d-flex justify-content-center">
        <div id="loadingMessage" class="rounded" style="position: absolute; z-index: 100; color: #000; background-color: rgba(255, 255, 255, 0.85); padding: 10px; font-size: 20px;">
            Loading...
        </div>
        <img id="resumeImage" style="background-color: #ffffff;" src="https://drive.google.com/uc?export=view&id=1zZ1uspg9QHjEy5ybdmLvCT2LjxTLIJ-T" alt="Resume" class="img-fluid" onload="hideLoadingMessage()">
    </div>
    <br>

    <script src="{% static 'scripts/loading_text.js' %}"></script>
{% endblock %}